.DS_Store
.ipynb_checkpoints
*.pyc
.vscode/settings.json
*.csv
fingerprint*
*swp
*.png
*.backup
*.pd
*.pdf
*.eps
*.pkl
PROJECTS/MVOcatalog/Untitled.ipynb
PROJECTS/MontserratML/paris+t.xlsx
PROJECTS/MontserratML/WAV
PROJECTS/MontserratML/miniseed_*
PROJECTS/MontserratML/utils/RESP*
PROJECTS/MontserratML/AAA-master/MONTSERRAT/catalog/*.csv
PROJECTS/MontserratML/features*
PROJECTS/MontserratML/link*
PROJECTS/MontserratML/*catalog*.pd
PROJECTS/MontserratML/*catalog*.csv
PROJECTS/MontserratML/utils/*.csv
LIB/Untitled.ipynb
*ntitled*
LIB/list_of_functions.txt
PROJECTS/MVOcatalog/quake.xml
PROJECTS/fitness/best*.csv
*.mseed
*.un~
*.py~
PROJECTS/Pinatubo/makerea_wrapper.txt
